[Unit]
Description=Gunicorn daemon for covid-testing-backend
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/covid
Environment="PATH=/home/ubuntu/covid/env/bin"
ExecStart=/home/ubuntu/covid/env/bin/gunicorn -w 2 --bind unix:app.sock app:app
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target