<!DOCTYPE html>
<html>
        <head>
                <title>Login / Register</title>
        </head>
        <body>
                <script>
                        function formToJson(fd) {
                                let jo = {};
                                for (const [k, v] of fd.entries()) {
                                        jo[k] = v;
                                }
                                return JSON.stringify(jo);
                        }
                        function formPostHandler(elementName, url) {
                                function sendData(form, url) {
                                        const XHR = new XMLHttpRequest();
                                        // Bind the FormData object and the form element
                                        const FD = new FormData( form );
                                        // Define what happens on successful data submission
                                        XHR.addEventListener( "load", function(event) {
                                                alert( event.target.responseText );
                                        } );
                                        // Define what happens in case of error
                                        XHR.addEventListener( "error", function( event ) {
                                                alert( 'Oops! Something went wrong.' );
                                        } );
                                        // Set up our request
                                        XHR.open( "POST", url );
                                        XHR.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                        const jp = formToJson(FD);
                                        console.log(jp)
                                        XHR.send( jp );
                                }
                                // Access the form element...
                                let form = document.getElementById( elementName );
                                form.addEventListener( "submit", function ( event ) {
                                        event.preventDefault();
                                        sendData(form, url);
                                } );
                        }
                        window.addEventListener( "load", () => formPostHandler("reqOtp", "/request_otp"));
                        window.addEventListener( "load", () => formPostHandler("valOtp", "/validate_otp"));
                </script>
                <form id="reqOtp">
                        <label for="phone">Mobile: </label>
                        <input id="mobile" name="phone" required>
                        <input type="submit" value="Request OTP">
                </form>
                <br>
                <form id="valOtp">
                        <div class="otp-1">
                                <label for="phone">Mobile: </label>
                                <input id="mobile" name="phone" required>
                        </div>
                        <div class="otp-2">
                                <label>OTP: </label>
                                <input id="otp" name="otp" required>
                        </div>
                        <input type="submit" value="Login">
                </form>
        </body>
        
